<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Produit</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="header/header :: headerFragment"></div>

<div class="main-content">


    <div class="add-form">
        <h1>Ajouter Produit</h1>
        <form action="/produits/save" method="post">
            <input type="text" name="nom" placeholder=" Nom Produit... ">
            <input type="text" name="categorie" placeholder="Catégorie...">
            <input type="number" name="prix" placeholder=" prix...">
            <input type="number" name="quantite" placeholder="Quantite...">
            <select name="id_fournisseur">
                <option value="">choisire une fournisseur</option>
                <option th:each="f: ${fournisseurs}"
                        th:value="${f.id}"
                        th:text="${f.nom}">
                </option>
            </select>
            <button class="btn">Ajouter</button>

        </form>

    </div>

</div>

</body>
</html>