<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Produit</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="header/header :: headerFragment"></div>

<div class="main-content">
    <h1>Modifier Produit</h1>
    <div class="add-form">
        <form action="/produits/save" method="post">
            <input type="hidden" name="id" th:value="${produit.id}">
            <input type="text" name="nom" placeholder=" Nom Produit... " th:value="${produit.nom}">
            <input type="text" name="categorie" placeholder="Catégorie..." th:value="${produit.categorie}">
            <input type="number" name="prix" placeholder=" prix..." th:value="${produit.prix}">
            <input type="number" name="quantite" placeholder="Quantite..." th:value="${produit.quantite}">
            <select name="id_fournisseur">
                <option value="">choisire une fournisseur</option>
                <option th:each="f: ${fournisseurs}"
                        th:value="${f.id}"
                        th:text="${f.nom}"
                        th:selected="${produit.fournisseur != null && produit.fournisseur.id == f.id}">
                </option>
            </select>
            <button class="btn">Modifier</button>

        </form>

    </div>


</div>

</body>
</html>