<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produits</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="header/header :: headerFragment"></div>

<div class="main-content">
    <div class="container-add-produit">
        <h1>Liste des Produits</h1>
        <a href="/produits/new"  class="btn-ajouter">Ajouter Produit</a>
    </div>

    <table border="1" class="table-produits">
        <tr >
            <th>ID</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>

        <tr th:each="p : ${produits}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nom}"></td>
            <td th:text="${p.categorie}"></td>
            <td th:text="${p.prix}"></td>
            <td th:text="${p.quantite}"></td>

            <td style="text-align: center;">
                <a th:href="@{/produits/edit/{id}(id=${p.id})}" class="btn-modifier">Modifier</a>
<!--                <form th:action="@{/produits/delete/{id}(id=${p.id})}" method="post" style="display:inline">-->
<!--                    <button type="submit" class="btn-supprimer" onclick="return confirm('Supprimer ce produit ?');">-->
<!--                        Supprimer-->
<!--                    </button>-->
<!--                </form>-->
                <a th:href="@{/produits/delete/{id}(id=${p.id})}"  onclick="return confirm('Supprimer ce fournisseur et tous ses produits ?');"  class="btn-supprimer" > Supprimer </a>

            </td>
        </tr>
    </table>
</div>
</body>
</html>