<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fournisseurs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="header/header :: headerFragment"></div>
<div class="main-content">

    <div class="container-add-produit">
        <h1>Liste des Fournisseurs</h1>
        <a href="/fournisseurs/new" class="btn-ajouter">Ajouter  </a>
    </div>
    <table border="1" class="table-produits">
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>telephone</th>
            <th>ville</th>
            <th>Action</th>
        </tr>
        <tr th:each="f:${fournisseurs}">
            <td th:text="${f.id}"></td>
            <td th:text="${f.nom}"></td>
            <td th:text="${f.telephone}"></td>
            <td th:text="${f.ville}"></td>
            <td style="text-align: center;">
                <a  th:href="@{/fournisseurs/edit/{id}(id=${f.id})}" class="btn-modifier">Modifier</a>
                <a th:href="@{/fournisseurs/delete/{id}(id=${f.id})}" class="btn-supprimer"
                   onclick="return confirm('Supprimer ce fournisseur et tous ses produits ?');">Supprimer
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>