<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fournisseurs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="header/header :: headerFragment"></div>
<div class="main-content">

    <div class="contanier-add-produit">
        <h1>Liste des Fournisseurs</h1>
        <a href="/fournisseurs/new" >Ajouter  </a>
    </div>
    <table border="1" style="border-collapse: collapse; width: 100%">
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>telephone</th>
            <th>ville</th>
        </tr>
        <tr th:each="f:${fournisseurs}">
            <td th:text="${f.id}"></td>
            <td th:text="${f.nom}"></td>
            <td th:text="${f.telephone}"></td>
            <td th:text="${f.ville}"></td>
        </tr>
    </table>
</div>

</body>
</html>