<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SupplyFlow</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header/header :: headerFragment"></div>

<div class="main-content">
<h2>dashboard</h2>
    <div class="main-dashbord">
        <div class="card-item">
            <h3>Total Produits</h3>
            <p th:text="${totalProduits}"></p>
        </div>
        <div class="card-item1">
            <h3>Total Fournisseurs</h3>
            <p th:text="${totalFournisseurs}"></p>
        </div>
        <div class="card-item2">
            <h3>Total Stock</h3>
            <p th:text="${totalStock}"></p>
        </div>
    </div>
</div>

</body>
</html>