<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SupplyFlow</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header/header :: headerFragment"></div>

<div class="main-content">
<h2>dashboard</h2>

    <div class="main-dashbord">
        <div class="card-item">
            <h2>totale produits</h2>
        </div>
        <div class="card-item">
            <h2>total fournisseur</h2>
        </div>
        <div class="card-item">
            <h2>total stock</h2>
        </div>
</div>

</div>

</body>
</html>